body{
    position: relative;
    padding-top: 50px;
    
}
.whole-body{
    height : 100%;
    width : 100%;
}
.one{
    width: 50px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    margin-left: 890px;
}

.two{
    width: 50px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    margin-top: 50px;
    margin-left: 830px;
    display: inline-block;
}

.three{

    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    left:720px;
    width: 50px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four{
    width: 50px;
    height: 200px;
    background-color: rgb(0,0,0);
    border-radius: 15px;
    position: absolute;
    margin: 50px;
    margin-left: 710px;
    display: inline-block;
  
}

.five{
    width: 50px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    margin:50px;
    margin-left: 650px;
    display: inline-block;

    
}

#c1 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 60px;
    position: absolute;
    margin-left: 655px;
    border-radius: 50%;
}

#c2 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 105px;
    position: absolute;
    margin-left: 655px;
    border-radius: 50%;
}

#c3 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 150px;
    position: absolute;
    margin-left: 655px;
    border-radius: 50%;
}

#c4 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 195px;
    position: absolute;
    margin-left: 655px;
    border-radius: 50%;
}

#c5 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 60px;
    position: absolute;
    margin-left: 715px;
    border-radius: 50%;
}

#c6 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 105px;
    position: absolute;
    margin-left: 715px;
    border-radius: 50%;
}

#c7 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 150px;
    position: absolute;
    margin-left: 715px;
    border-radius: 50%;
}

#c8 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 195px;
    position: absolute;
    margin-left: 715px;
    border-radius: 50%;
}

#c9 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 60px;
    position: absolute;
    margin-left: 775px;
    border-radius: 50%;
}

#c10 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 105px;
    position: absolute;
    margin-left: 775px;
    border-radius: 50%;
}

#c11 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 150px;
    position: absolute;
    margin-left: 775px;
    border-radius: 50%;
}

#c12 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 195px;
    position: absolute;
    margin-left: 775px;
    border-radius: 50%;
}

#c13 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 60px;
    position: absolute;
    margin-left: 835px;
    border-radius: 50%;
}

#c14 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 105px;
    position: absolute;
    margin-left: 835px;
    border-radius: 50%;
}

#c15 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 150px;
    position: absolute;
    margin-left: 835px;
    border-radius: 50%;
}

#c16 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 195px;
    position: absolute;
    margin-left: 835px;
    border-radius: 50%;
}

#c17 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 60px;
    position: absolute;
    margin-left: 895px;
    border-radius: 50%;
}

#c18 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 105px;
    position: absolute;
    margin-left: 895px;
    border-radius: 50%;
}

#c19 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 150px;
    position: absolute;
    margin-left: 895px;
    border-radius: 50%;
}

#c20 {
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-top: 195px;
    position: absolute;
    margin-left: 895px;
    border-radius: 50%;
}



.line{
    width:250px;
    height: 10px;
    position: absolute;
    margin-top: 145px;
    left: 650px;
    background-color: black;
}

#timer{
    background-color: white;
    position: absolute;
    margin-top: 280px;
    margin-left:740px;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

#but{
    width: 100px;
    height:50px;
    position:absolute;
    margin-top: 350px;
    margin-left: 650px;
}

#buyy{
    width: 100px;
    height:50px;
    position:absolute;
    margin-top: 350px;
    margin-left: 850px;
}

#he{
    margin-left: 690px;
    width: 300px;
    margin-top: -40px;
    position: absolute;
}   